<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>query-specification</key>
			<dict>
				<key>match-case</key>
				<integer>1</integer>
				<key>query</key>
				<string>text</string>
				<key>scope</key>
				<dict>
					<key>named-scopes</key>
					<array/>
					<key>type</key>
					<string>scope-chooser-compound-scope</string>
					<key>workspace-location-predicates</key>
					<array>
						<dict>
							<key>path-components</key>
							<array>
								<string>ChordCombiner-SwiftUI.xcodeproj</string>
							</array>
							<key>rule</key>
							<string>workspace-location</string>
						</dict>
					</array>
				</dict>
				<key>term</key>
				<dict>
					<key>text</key>
					<string>switch baseChordType</string>
				</dict>
			</dict>
			<key>type</key>
			<string>batch-find-query</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>586</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>585</string>
					<key>Timestamp</key>
					<string>751061728.0574</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ChordCombiner-SwiftUI/Models/Music Theory Models/Chords/ChordType.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>  
</string>
				<key>leading</key>
				<string>    }
  }
</string>
				<key>trailing</key>
				<string>  // MARK: hasMajor13th
  var hasMajor13th: Degree? {
    switch baseChordType {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
